html{
    display: grid;
    grid-template-rows: 10px;
    font-weight: bold;
    background-image: white;
}



.link-class, :visited{
    border-bottom: 0px solid black;
    padding: 13px;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 17px;
    background-color:  orangered;
    color: purple;


}

p{

line-height: 0%;
padding-top: 0;

}

.link-class a:active,
.link-class a:hover {
    color: rgb(255, 153, 0);
    text-decoration-color: rgb(0, 0, 0);
}

.grid-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 10px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    .grid-image {
      grid-template-columns: repeat(4, 1fr);
    }

  }


.grid-item{
    display: grid;
    justify-content: left;

}

.veg-link{
    text-decoration: none;
    color: green;
}

.last-statement{
    margin: 0px;
    font-weight: bold;
    padding: 30px;
    background-color: #28a745;
    margin-top: 50px;

}


.no-bullets {
    border: 0px 0px 0px 0px;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
  }

.h3-no-pad{
    padding: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}
